.container {
  width: 45%;
  margin:0 auto;
  height: 50%;
}

.box {
  display: inline-block;
  height:100px;
  width:100px;
  border:7px solid;
  margin: 5px;
  border-color: rgba(239,48,56,.8);
  text-align: center;
}

.cross {
  background-color: black
}

.nought {
  background-color: yellow;
}


.box:hover {-webkit-box-shadow: -2px 10px 23px 0px rgba(15,148,86,1);
-moz-box-shadow: -2px 10px 23px 0px rgba(15,148,86,1);
box-shadow: -2px 10px 23px 0px rgba(15,148,86,1);}